node_modules
.DS_Store
.git
.gitignore
README.md
Dockerfile
.dockerignore
*.log
npm-debug.log*
coverage
.env
.env.local
.env.production
.env.development.local
.env.test.local
.env.production.local
.vscode
.idea
.next
build
yarn.lock
public/*.mp4
public/*.mov
public/*.zip
public/**.zip
public/**.tar
public/**.tar.gz
public/**.7z
Dockerfile
Dockerfile.simple
README.md